*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(45, 45, 45, 0.1);
}
h4{
    text-align: center;
    background-color: rgba(45, 45, 45, 0.5);
    padding: 10px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    bottom: 5px;
    /* offset: relative; */
    /* bottom: 10px; */
    /* left: 15px; */
}
p{
    text-align: justify;
}
.link{
    text-align: left;
    color: black;
    opacity: 0.7;
}
#thumbnail{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),
    0 6px 6px rgba(0,0,0,0.23);
}
.fullcard{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px;
}
.cardcontent{
    padding: 10px;
}
.cardtext{
    margin-bottom: 30px;
    line-height: 20px;
}
a:hover{
    color: rgb(255, 115, 0);
}